<div id="story4_html">
<b>
*** SHIP CRASHES, CREW SLOWLY CRAWLS OUT OF WRECKAGE ***
</b>

<p><b>{{ data.char2 }}</b><br>
Oh, I guess I couldn't help it.
</p>

<p><b>Lrrr</b><br>
Greetings, I am Lrr of the planet Omicron Persei 8, do you have my package?
</p>

<p><b>{{ data.char1 }}</b><br>
I can't feel my spleen.
</p>

</div>

<div>
	<b>Enter your email to save story!</b></br>
	<input class="form-control" ng-model="data.email">
	<button class="btn btn-primary" ng-click="submit()">SUBMIT</button>
</div>

<div ui-view></div>
