<div id="story4_html">
<b>
*** INCOMING TRANSMISSION ***
</b>

<p><b>Lrrr</b><br>
Greetings, I am Lrr of the planet Omicron Persei 8, do you have my package?
</p>


<p><b>{{ data.char1 }}</b><br>
Wait a second, we're on Rigel 7!
</p>

<p><b>Lrrr</b><br>
I'm house sitting, do you really respect your profession enough not to give me my package?
</p>

<p><b>{{ data.char3 }}</b><br>
You know we don't!
</p>
</div>

<div>
	<p>Enter your email to save story!</p></br>
	<input class="form-control" ng-model="data.email">
	<button class="btn btn-primary" ng-click="submit()">SUBMIT</button>
</div>

<div ui-view></div>
